* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box
}

.text {
    font-weight: 400;
    font-family: 'Karla';
    font-style: normal;
}

header {
    width: 100%;
    background-color: white;
}

.header_block_link {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 15px 0;
}

.header__link {
    margin: auto 0;
    padding: 0 15px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.home_page_img {
    background-size: cover;
    text-align:center;
    color: #fff;
    margin: auto;
    z-index: 5;
    height: 100%;
}

.shadow__block {
    padding: 50px;
    height: 530px;
    width: auto;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin: auto;
}

#coffee-cup{
    background-image: url(../img/coffeeCupPapper.jpeg);
}

#coffee-bar {
    background-image: url(../img/CoffeeBar.png);
}

#barista {
    background-image: url(../img/Barista.png);
}

.size__box {
    height: 530px;
}

.slide_img {
    overflow: hidden;
    margin: auto;
}

.a_color {
    margin: auto;
    color: #1D1F2E;
    text-decoration: none;
    transition: 0.2s;
}

.a_color:hover {
    color: #acacac;
}

.number_of_purchases {
    display: inline-block;
    letter-spacing: 0;
    color: #fff;

    background: #1D1F2E;
    margin: auto 0;
    border-radius: 9px;
    padding: 3px 6px;
    margin-left: 7px;
}

.icon__card {
    width: 16px;
    height: 20px;
    margin-right: 10px;
    background-image: url(../img/IconCard.png);
    background-size: cover;
}

.img_on_link {
    height: 24px;
    margin-right: 82px;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

.bttn__card {
    display: flex;
    margin-left: 20px;
    padding-bottom: 4px;
    text-align: center;
    border-bottom: 2px solid rgba(162, 95, 75, 0.3);
}

/*/////////////////////////////////////////
/////////// Домашняя страницы ////////////
///////////////////////////////////////*/

.home__page {
    background-color: #050827;
    width: 100%;
    z-index: -1;
}

.reddd {
    position: relative;
    height: 530px;
}

.first_tHome {
    padding-top: 160px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
}

.second_tHome {
    padding: 10px;
    font-size: 47px;
    line-height: 60px;
}

.third_tHome {
    font-size: 17px;
    line-height: 30px;
    padding-bottom: 48px;
}

.bttn_home_page {
    margin: auto;
    
    font-size: 12px;
    color: #1D1F2E;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;

    background-color: #fff;
    width: 230px;
    height: 18px;
    border-radius: 5px;
    transition: 0.2s;
}

.bttn_home_page:hover {
    color: #dfdfdf;
    background-color: rgb(162, 162, 162);
}

/*/////////////////////////////////////////
///////// Страница с информацией /////////
///////////////////////////////////////*/

.info__header {
    margin: 123px auto 0;
    max-width: 580px;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    color: #1D1F2E;
}

.paragraf {
    margin: auto;
    max-width: 660px;
    padding: 16px 0;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: rgba(29, 31, 46, 0.7);
}

.read__story {
    margin: 5px auto 100px;
    font-size: 15px;
    line-height: 28px;
    color: #A25F4B;

    border-bottom: 2px solid rgba(162, 95, 75, 0.2);
    width: 133px;
    
    text-align: center;
}

/*/////////////////////////////////////////
/////////// Заголовки страниц ////////////
///////////////////////////////////////*/

.header_for_page {
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

.line__left {
    margin: auto 0;
    margin-right: 15px;
    width: 30px;
    height: 1px;
    background: #ECECED;
}

.line__right {
    margin: auto 0;
    margin-left: 15px;
    width: 30px;
    height: 1px;
    background: #ECECED;
}

.header_page_text {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
}

/*/////////////////////////////////////////
/////// Стиль для избранных чашек ////////
///////////////////////////////////////*/

.favorit__mugs {
    display: flex;
    justify-content: center;
    height: 660px;
    margin: auto 0;
    margin-bottom: 15px;
}

.box_fav_mugs {
    width: 460px;
    height: 540px;
    padding: 0 10px;
}

.pink__mug {
    width: 100%;
    height: 100%;
    background-image: url(../img/PinkMugs.png);
    background-size: cover;
}

.gold__mug {
    width: 100%;
    height: 100%;
    background-image: url(../img/GoldMugs.png);
    background-size: cover;
}

.muginfo {
    display: block;
    margin-top: 35px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #1D1F2E;
}

.price {
    display: block;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: rgba(29, 31, 46, 0.7);
}

.price__discount {
    display: block;
    font-size: 19px;
    line-height: 32px;
    text-align: center;
    color: #A25F4B;
}

.crossedout {
    margin-left: 10px;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    text-decoration-line: line-through;
    color: rgba(29, 31, 46, 0.4);
}

/*/////////////////////////////////////////
/////////// Карточки продукции ///////////
///////////////////////////////////////*/

.products__page {
    display: block;
    margin: auto;
    width: 960px;
}

.more__products {
    display: flex;
}

.box__card {
    margin: 0 8.5px 65px;

}

.img__card {
    width: 300px;
    height: 380px;
}

/*/////////////////////////////////////////
////////// Спец. предложения /////////////
///////////////////////////////////////*/

.promotion__box {
    display: flex;
    justify-content: center;
    padding-bottom: 130px;
}

.promotion_img_box {
    display: flex;
    margin-right: 40px;
}

.img_conf_max {
    width: 280px;
    height: 280px;
    padding: 0 10px 0 0;
}

.img_box_little {
    width: 160px;
    height: 130px;
}

.img_conf_min {
    width: 100%;
    height: 100%;
}

.promotion__text {
    margin: 5px 0 auto 40px;
}

.premium__offer {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
}

.get__our{
    padding: 15px 0;
    font-size: 36px;
    line-height: 50px;
    color: #1D1F2E;
}

.your__life {
    font-size: 16px;
    line-height: 28px;
    color: rgba(29, 31, 46, 0.7);
    padding-bottom: 25px;
}

.start__shopping {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;

    background: #1D1F2E;
    width: 155px;
    padding: 9px;
}

/*/////////////////////////////////////////
///////////////// Фото ///////////////////
///////////////////////////////////////*/

.background__page {
    width: 100%;
    height: 340px;
    background-image: url(../img/BackgroundPage.png);
    background-size: cover;
}

/*/////////////////////////////////////////
/////////// Lifestyle stories ////////////
///////////////////////////////////////*/

.stories__page {
    margin-bottom: 200px;
}

.contact_content_block {
     display: flex;
     justify-content: center; 
}

.stories__box {
    width: 300px;
    margin: 0 10px;
}

.stories_img_block {
    padding-bottom: 30px;
}

.img__300 {
    width: 300px;
    height: 300px;
}

.stories__headline {
    font-size: 20px;
    line-height: 32px;
    color: #1D1F2E;
    margin-bottom: 10px;
}

.stories__subtitle {
    font-size: 16px;
    line-height: 28px;
    color: rgba(29, 31, 46, 0.7);
}

.stories__data {
    margin-top: 16px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
}

/*/////////////////////////////////////////
/////////////// Контакты /////////////////
///////////////////////////////////////*/

.contact__page {
    background: #1D1F2E;
}

.contact__line {
    background: rgba(210, 210, 213, 0.1);
}

.contact_headline_page{
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.contact__headline {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.contact__subtitle {
    padding: 15px 0 25px;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
}

.contact__connection {
    display: flex;
    justify-content: center;
    padding-bottom: 85px;
}

.social__network {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;

    border: 1px solid #2F303E;
    display: inline-block;
    margin: auto 0;
    padding: 18px 74px;
    margin-right: 10px;
}

.bttn_subscribe {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000000;

    background: #FFFFFF;
    display: inline-block;
    margin: auto 0;
    padding: 18px 25px;
}

/*/////////////////////////////////////////
//////////////// Подвал //////////////////
///////////////////////////////////////*/

.footer__page {
    display: flex;
    justify-content: center;
    padding: 100px 0 60px;
}

.footer__brand {
    width: 260px;
    padding-right: 55px;
}

.footer__logo {
    height: 24px;
}

.footer__subtitle{
    padding: 20px 0 80px;
    font-size: 14px;
    line-height: 22px;
    color: rgba(29, 31, 46, 0.7);
}

.footer__law {
    font-size: 14px;
    line-height: 22px;
    color: rgba(29, 31, 46, 0.3);
}

.footer_nav_block {
    margin-right: 80px;
}

.footer__headline {
    padding-bottom: 20px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
}

.footer_nav_link {
    list-style-type: none;
}

.footer_a_link {
    color: rgba(29, 31, 46, 0.7);
    transition: 0.2s;
    text-decoration: none;
}

.footer_a_link:hover {
    color: rgba(29, 31, 46, 1);
}

.footer_nav_li {
    padding: 5px 0;
    font-size: 14px;
    line-height: 22px;  
}

.footer__help {
    font-size: 14px;
    line-height: 22px;
    color: rgba(29, 31, 46, 0.7);
}

.footer__email {
    padding: 15px 0 55px;
    font-size: 23px;
    line-height: 36px;
    color: #1D1F2E;
}

.footer__webflow {
    font-size: 14px;
    line-height: 22px;
    color: rgba(29, 31, 46, 0.3);
}